@import './antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Nunito Sans", sans-serif;
    @apply box-border;
    @apply m-0;
    @apply p-0;
  }
  :root {
    --primary-color: #fff;
    --secondary-color: #000;
  }
}

